[run]
source = 
    claon_admin

omit = 
    claon_admin/config/*
    claon_admin/middleware/*
    claon_admin/model/*
    claon_admin/router/*
    claon_admin/container.py
    claon_admin/main.py
    claon_admin/schema/conn.py
    claon_admin/common/*

